doctype html
html
	head
		link(rel='stylesheet', href='bower_components/foundation/css/foundation.css')
		link(rel='stylesheet', href='styles/style.css')
	body
		header
			div.row
				p 
					a.navLink about 
					a#logo
						img(src='../images/jc_logo_v2.png')
					a.navLink portfolio
		div#content.row
			div.small-4.columns
				img(src='../images/pm_icon.png')
				h2 Product Manager
			div.small-4.columns
				img(src='../images/se_icon.png')
				h2 Software Engineer
			div.small-4.columns
				img(src='../images/dev_icon.png')
				h2 Developer
		footer.row
			p &copy 2014