doctype html
html
	head
		link(rel='stylesheet', href='bower_components/foundation/css/foundation.css')
		link(rel='stylesheet', href='styles/style.css')
	body
		header
			div.row
				h1 JC
		div#content.row
			h2 My Website
		footer.row
			p &copy 2014