html, body {
	margin: 0;
	padding: 0;
	background-color: #181818
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #181818;
	border-bottom: .75em solid #009930;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.6);
	z-index: 10;
}

header div p {
	text-align: center;
}

.navLink {
	position: relative;
	top: 1em;
	padding: 0 2em;
	color: #009930;
}

.navLink:hover {
	color: #eeeeee;
}

#logo img {
	position: relative;
	top: 1em;
	width: auto;
	height: 5em;
}

header h1 {
	color: #009933;
}

#background_header img{
	/*padding-top: 6em;*/
	width: 100%;
}

#content {
	margin-top: -30em;
	height: 50em;
	text-align: center;
}

.xp {
	padding: .05em;
}

.xp div {
	margin: .1em;
	padding: 4em 1em;
	background-color: #181818;
}

.xp img {
	padding-bottom: 1em;
	height: 10em;
	width: auto;
}

.xp h2 {
	color: #009930;
}

